{% extends "employee/layout_employee.html" %}

{% block body %}
<h1 class="title">Update baseline for {{firstname}} {{name}}</h1>
<form method="POST" action="{{target}}">
  <input class="input" name="csrf_token" type="hidden" value="{{ csrf_token }}">

  <div class="field">
    <label>Baseline</label>
    <div class="control">
      <input class="input" type="text" name="baseline" value="{{baseline}}" />
    </div>
  </div>
  <button type="submit" class="button is-success">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Save</span>
  </button>
</form>
{% endblock %}